@page "/individual"
@page "/individual/{id:int}"
@inject IPersonService PersonService

@if (Id == null)
{
    <PageTitle>Person by individual</PageTitle>
    <h3>Person by Individual</h3>
}
else
{
    <PageTitle>Edit Information: @person.FirstName</PageTitle>
    <h3>Edit Information: @person.FirstName</h3>
}
<EditForm Model="person" OnSubmit="HandleSubmit">
    <div>
        <label for="firstname">First Name</label>
        <InputText id="firstname" class="form-control" @bind-Value="person.FirstName"></InputText>
    </div>
    <div>
        <label for="lastname">Last Name</label>
        <InputText id="lastname" class="form-control" @bind-Value="person.LastName"></InputText>
    </div>
    <div>
        <label for="testInput">Test Occupation</label>
        <input id="test" class="form-control" list="occupationTest" value="@person.Occupation.OccupationName"  />
        <datalist id="occupationTest">
            @foreach (var occupation in PersonService.Occupations)
            {
                <option value="@occupation.Id">@occupation.OccupationName</option>
            }
        </datalist>
    </div>
    <div>
        <label for="occupation">Occupation</label>
        <InputSelect @bind-Value="person.OccupationId" class="form-control">
            @foreach (var occupation in PersonService.Occupations)
            {
                <option value="@occupation.Id">@occupation.OccupationName</option>
            }
        </InputSelect>
    </div>
    <div>
        <label for="company">Company</label>
        <InputSelect @bind-Value="person.CompanyId" class="form-control">
            @foreach (var company in PersonService.Companies)
            {
                <option value="@company.Id">@company.CompanyName</option>
            }
        </InputSelect>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">@btnTxt</button>
    @if (Id != null)
    {
            <button type="button" class="btn btn-danger" @onclick="DeletePerson">Delete Person Information</button>
    }

</EditForm>
@code {
    [Parameter]
    public int? Id { get; set; }

    string btnTxt = string.Empty;
    Person person = new Person { Occupation = new Occupation(), Company = new Company() };

    protected override async Task OnInitializedAsync()
    {
        btnTxt = Id == null ? "Save new Person" : "Update Information";
        await PersonService.GetCompanies();
        await PersonService.GetOccupations();
    }

    protected override async Task OnParametersSetAsync()
    {
        if(Id == null)
        {
            person.Occupation = PersonService.Occupations[0];
            person.OccupationId = person.Occupation.Id;

            person.Company = PersonService.Companies[0];
            person.CompanyId = person.Company.Id;
        }
        else
        {
            person = await PersonService.GetSinglePerson((int)Id);
        }
    }

    

    async Task HandleSubmit()
    {
        if(Id == null)
        {
            await PersonService.CreatePerson(person);
        }
        else
        {
            await PersonService.UpdatePerson(person);
        }
    }
    async Task DeletePerson()
    {
        await PersonService.DeletePerson(person.Id);
    }
}
